<form action="{% url 'success' %}" method="POST">
    {% csrf_token %}
    <label>
        <p>Nombre</p>
        <input type="text" name="name" placeholder="Escribe el nombre..."
        required autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 )" min="1">
    </label>

    <label>
        <p>Apellido</p>
        <input type="text" name="lastname" placeholder="Escribe el apellido..." required autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 )" min="1">
    </label>

    <label>
        <p>Email</p>
        <input type="email" name="email" placeholder="usuario@ejemplo.com">
    </label>

    <input type="submit" value="Cargar" class="submit-button">
</form>