<form action="{% url 'success' %}" method="GET">

    <label>Nombre: </label>
    <input type="text" name="name" placeholder="Escribe tu nombre..."
    required autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 )" min="1">

    <label>Apellido: </label>
    <input type="text" name="lastname" placeholder="Escribe tu apellido..." required autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 )" min="1">

    <label>Email: </label>
    <input type="email" name="email" placeholder="usuario@ejemplo.com">

    <input type="submit" value="Cargar">

</form>